@font-face {
  font-family: "Title";
  src: url(../data/Ailerons-Regular.otf);
}

@font-face {
  font-family: "Moderne";
  src: url(../data/fibre-font.otf);
}

header{
  background-color: #E9E9E9;
}

nav ul  {
  background-color: #E9E9E9;
  margin : auto;
  display: flex;
  padding: 0px 0px;
  justify-content: space-between;
  font-family: Title;
}

nav ul li a{
  font-size: 1.5em;
  padding : 1.5em;
  list-style : none;
  border-radius : 30px;
  display : flex;
  list-style-type: none;
  text-decoration : none;
  color:inherit;
}

nav ul li a:hover{
  border: 1px solid white;
  background-color: #E9E9E9;
}

nav ul li {
list-style-type: none;
}
